zeus_boxes/
**/node_modules/
**/logs/
**/dist/
**/build/
**/Common/

**/Makefile
**/CMakeCache.txt
**/CMakeFiles/**
**/CMakeFiles
**/cmake_install.cmake
**/.placeholder

.idea/
.env
.vscode
**/*-prefix